* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#app {
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
}

.pixel {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: red;
  pointer-events: none;
}
